name: Package info-extract
on: 
  workflow_dispatch:
    inputs:
      tags:
          description: 'scenario tags'
          required: false
          type: boolean
jobs:
  build:
    name: continuous-integration
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: 3.13
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python 3.13
        run: uv python install 3.13
        
      - name: Build
        run: uv build
      
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: |
            dist
