name: Package info-extract
on: 
  workflow_dispatch:
    inputs:
      tags:
        description: 'scenario tags'
        required: false
        type: boolean
permissions:
  contents: write
jobs:
  build:
    name: continuous-integration
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: 3.13
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python 3.13
        run: uv python install 3.13
        
      - name: Build
        run: uv build
      
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            dist/*.tar.gz
            dist/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
